<?xml version="1.0"?>
<launch>
    <!-- Gazebo config -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>

    <!-- RViz config -->
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_config" default="$(find multi_robot_sim)/ros/generated_files/multi_robot_sim.rviz"/>

    <!-- World model and map config -->
    <arg name="world" default="brsu"/>
    <arg name="map_file" default="$(find ropod_sim)/world_description/occupancy_grids/$(arg world).yaml" />

    <!-- Navigation config -->
    <arg name="nav_name" default="teb"/>
    <arg name="move_base_controller_frequency" default="5.0"/>

    <!-- Launch the world -->
    <include file="$(find ropod_single_robot_sim)/ros/launch/start_simulation_environment.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="start_rviz" value="$(arg start_rviz)"/>
        <arg name="rviz_config" value="$(arg rviz_config)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Spawn multiple robots with navigation components -->
    <include file="$(find multi_robot_sim)/ros/generated_files/spawn_multiple_robots.launch">
        <arg name="model_base_path" value="$(find ropod_sim)/description/xacro"/>
        <arg name="nav_name" value="$(arg nav_name)"/>
        <arg name="move_base_controller_frequency" value="$(arg move_base_controller_frequency)"/>
    </include>
</launch>
