<?xml version="1.0"?>
<launch>
    <!-- Inspired from https://github.com/DharminB/ropod_sim/blob/master/ros/launch/example.launch -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="start_rviz" default="true"/>

    <arg name="world_model_name" default="hall"/>

    <!-- Launch Gazebo World and rviz without any carts or robots -->
    <include file="$(find ropod_sim)/ros/launch/example.launch">
        <arg name="paused" default="$(arg paused)"/>
        <arg name="use_sim_time" default="$(arg use_sim_time)"/>
        <arg name="gui" default="$(arg gui)"/>
        <arg name="debug" default="$(arg debug)"/>
        <arg name="start_rviz" default="$(arg start_rviz)"/>
        <arg name="world_model_name" default="$(arg world_model_name)"/>
        <arg name="spawn_robot" default="false"/>
        <arg name="spawn_cart" default="false"/>
    </include>

    <!-- Spawn the robot with navigation components -->
    <include file="$(find ropod_single_robot_sim)/ros/launch/spawn_single_robot.launch">
        <arg name="robot_id" default="load"/>
    </include>

</launch>
